body{
margin:0px;
background-color:black;
}
.cla1
{
	height:250px;
	margin-top:0px;
}
.cla2
{
	padding-top:0px;
	background:linear-gradient(to bottom right, #02CCBA, #A97FCD);
	height:180px;
	width:100%;
	margin:0;
	opacity:1;
}
.cla2 h1
{
	font-family:Sketchy;
	font-size:45px;
	color:#ffffff;
	padding-bottom:0;
	opacity:1.0;
}
.cla2 input
{
	width:750px;
	border-radius:50px;
	border:none;
	padding-left:10px;
	height:25px;
	font-family:Tekton;
	opacity:1.0;
	font-size:15px;
}
.cla2 button 
{
	border-radius:50px;
	border:none;
	height:30px;
	font-family:Tekton;	
	font-size:16px;	
	opacity:1.0;
	cursor:pointer;
}
.cla2 button:hover ,#btf:hover
{
	transition:0.4s;
	box-shadow: 5px 5px 3px grey;	
}
.wrapper
{
padding-top:0px;
padding-left:10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 180px;
    overflow: hidden;
    background-color: #333;

}

li {
    float:left;

}

li a, .dropbtn {
    display:inline-block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn
 {
    background-color: mediumseagreen;
	transition-duration:0.6s;
 }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ddd; transition:0.4s;}

.dropdown:hover .dropdown-content {
    display: block;
	transition:0.4s;
	box-shadow: 5px 5px 10px  #555;
}	
.sx{
	font-size:14px;
	}
.sx:hover{
		color:brown
		cursor:pointer;
		font-size:14.1px;
		}
.goku{
border:2p solid black;
font-size:30px;
margin:0px;
border-radius:20px;
}
body{
background:url("back.jpg");
}
button{
	background-color:sky blue;
	border-radius:50px;
	border-color:sky blue;
	}
h1{
	color:darkblue;
	font-size:100px;
	font-family:sketchy;
	margin:0px;
	font-weight:lighter;
	}
img{
		border:1px solid black;
		cursor:pointer;
		}
.dx{
	background-color:black;
	height:50px;
	color:lightgray;
	padding:20px 0px;
	}
.dy{
	cursor:pointer;
	}
.log{
	height:250px;
	width:600px;
	padding:25px;
	border:5px solid mediumseagreen;
	background-color: mediumseagreen;
	font-family: ;
	font-size: 20px;
	margin-bottom:10px;
}
.log h1 {
	font-family:Adobe devanagari;
	font-size:50px;
	color:white;
	padding:15px;
	text-transform:uppercase;
}
.log input {
	height:25px;
	width: 400px;
	border:none;
	border-bottom:2px solid #dddddd;
	border-radius:3px;
	background:transparent;
}
.log button{
	border:none;
	font-size: 18px;
	font-family:calibri;
	padding:0px 20px;
	background:white;
	color:mediumseagreen;
	font-weight:bold;
	border-radius:2px;
}
.log button:hover{
	box-shadow: 5px 5px 5px #555;
	transition:0.4s;
}
.pig{
	float: right;
	border:none;
}
.loan{
	font-family:Tekton;
	font-size:40px;
	color:white;
	background-color:dodgerblue;
	height:50px;
	width:100%;
	margin-top:-3%;
	text-align:center;
	padding-top:5px;
	font-weight:bold;
}
.imgh{
	border: none;
	border-radius: 3px;
	margin-top: 5px;
}
.over{
	height: 50px;
	margin:0px;
	text-align: left;
	font-family:footlight mt light;
	font-size:17px;
	font-weight:bolder;
}
.overview{
	font-family:Calibri;
	font-size: 50px;
	text-decoration:underline;
	font-style:oblique;
}
.over ul {
	background-color: white;
	font-size:17px;
	font-weight:bolder;
	background-color:#FFF7DC;
}
.homeover li {
	list-style-type: circle;
	background-color:#FFF7DC;
}
.tab{
	border: 3px solid teal;
	margin:10px;
	width:1000px;
	margin-left: 0px;
	font-size:17px;
	font-weight:bolder;
	background-color:#FFF7DC;
}
.tab tr th {
	padding:5px;

}
.tab tr td {
	padding:15px 0px;
	text-align: left;
	width: 0px;
}
.tab ul li{
	width:230px;
	margin-right: 0px;
	padding:0px;
}
#tap{
	position: relative;
	left:-160px;
}
.btx{
	padding:5px 10px;
	border:none;	
	background-color:dodgerblue;
	color:white;
	font-family: Calibri;
	font-weight: bold;
	font-size:18px;
	margin:0px;
}
.btx:hover{	
box-shadow: 5px 5px 3px grey;
background-color:white;
color:black;
transition-duration:1s;
cursor:pointer;
}
.p1{
	font-family:footlight mt light;
	font-size:17px;
	font-weight:bolder;
	background-color:#FFF7DC;
	margin-left:100px;
}	
.f2, p{
		background-color:#CCFFFF;
		font-size:18px;
		font-family:footlight mt light;
		font-weight:bold;
		border:2px solid black;
}
p{	
		font-size:24px;
		font-family:footlight mt light;
		font-weight:bold;
		background-color:white;
		width:30%;
		border:none;
		margin-left:550px;
		opacity:1;
		margin-top:0px;
		padding-top:10px;		
}
#btf
{
	border-radius:5px;
	border:none;
	width:120px;
	height:50px;
	font-family:Tekton;	
	font-size:30px;	
	opacity:0.7;
	cursor:pointer;
	background-color:orange;
}
.head1{
	text-align: center;
	font-size: 25px;
	font-family:Tekton;
}
.netbanking{
	border:2px solid #555555;
	border-bottom:none;
	border-radius: 10px 10px 0px 0px ;
	background:linear-gradient(grey, white);
	width:30%;
}
.netbanking:hover{
	background:linear-gradient(brown, white);
	transition-duration: 0.4s;
	cursor: pointer; 
}