.d1, .ratcover{
	
	background-color:#02CCBA;
	height:520px;
	width:50%;
	opacity:0.7;
	float:right;
	margin-right:100px;
	margin-top:50px;

	}	
.commonintro{
	width:90%;
	padding:35px;
	font-family:nunito;
	font-size:18px;
	line-height:33px;
	opacity:1;
	}
.commonpost{
		height:550px;
		padding:50px;
		padding-top:35px;
		margin:20px;
		}
.watchtrail{
			background-color:#02B3E4;
			border:none;
			border-radius:5px;
			height:50px;
			width:200px;
			color:black;
			font-family:calibri;
			font-size:18px;
			box-shadow:6px 6px 10px rgba(255,255,255,0.3);
			transition-duration:0.4s;
			}
.watchtrail:hover{
				background-color:#01a2d3;
				box-shadow:4px 4px 4px rgba(250,250,250,0.1);
				transition-duration:0.4s;
				cursor:pointer;
				font-size:18.3px;
				
				}
ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 50px 8px 45%; 
    overflow: hidden;
    height:80px;

}
li{
    float:left;
    text-align:center;
}
li a, .dropbtn {
    display:inline-block;
    color: black;
    text-transform:uppercase;
    padding: 30px 16.5px;
    text-decoration: none;
    font-family:nunito light;
    font-size:16px;
}

li a:hover, .dropdown:hover .dropbtn
 {
	 transition:0.1s;
    border-bottom: 4px solid #A97FCD ;	
	border-radius:2px ;
}	
.topbar ul img{
	position:absolute;
	left:2%;
	top:0%;

}
.topbar {
	background-color:white;
}		
*{
	margin:0px;
	user-select:none;
}

body{
	background-color:#111;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: none;
    margin: auto;
    padding: 20px; 
}

.close {
    color: #aaaaaa;
    margin-left:77%;
    font-size: 38px;
    font-weight: bolder;
	font-family:tekton;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.d5{
	width:100%;
	height:50%;
	font-family:nunito light;
	font-size:20px;
	font-weight:bolder;
	background:linear-gradient(to bottom right, #02B3E3,  #02CCBB);
}
.d51{
	margin:1.5% 2.5%;
	background:white;
	border-radius:50%;
	border:0px solid gray;
	box-shadow:6px 6px 6px rgba(0,0,0,0.3);
	height:80%;
	width:20%;
	float:left;
	cursor:pointer;
	}
.d51:hover{
	box-shadow:4px 4px 4px rgba(0,0,0,0.2);
	transition:0.2s;
}

.d511{
	background:linear-gradient(to bottom right,#f4511e,orange, orange);
	height:50%;
	border-radius:145px 145px 0px 0px;
}
.d511 img{
	padding:10px;
}
