*{margin:0px;}
.footer{
	background-color:black;	
	height:230px;
	width:100%;
	overflow:ato;
	}
.postfooter{
	float:right;
	height:190px;
	padding-top:20px;
	padding-right:50px;
	padding-left:0px;
	opacity:0.8;
	}
.logfoot{
	height:27%;
	cursor:pointer;
	margin:10px;
	opacity:0.5;
	}
.logfoot:hover{	
	opacity:1;	
	cursor:pointer;
	transition-duration:0.2s;
	}
.logofoot{
	height:80%;
	cursor:pointer;	
	margin-left:50px;
	float:left;
	}
.footerul{
	color:#999;
	list-style:square;
	font-size:15px;
	font-family:nunito;
	margin-left:10%;
	float:left;
	}
.footerul li:hover{
	text-decoration:underline;
	cursor:pointer;
	color:white;
	transition-duration:0.5s;
	}
p{
	color:#008CBA;
	padding-top:30px;
	padding-right:50px;
	font-size:18px;
	font-family:calibri;
	float:right;
	margin-right:100px;
	width:40%;
	}	